<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'voteApp/style.css' %}">
    <title>{{ question.question_text}}</title>
</head>
<body>
    <div class="bg"></div>
    <div id="topbar">
        <img id="logo" src="{% static 'voteApp/img/android-chrome-512x512.png' %}">
        <div id="toptxt">Assemblée générale du CINUP</div>
    </div>
    <div class="question-details">
        <h2>{{ question.question_text }}</h1>
        <p>{{ question.question_desc }}</p>
        <ul>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }}</li>
            {% empty %}
                <li>No choices available.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>