<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'voteApp/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'voteApp/img/favicon.ico' %}">
        <script src="{% static 'voteApp/display_menu.js' %}"></script>
        <title>{{ question }}</title>
    </head>
    <body>
        <div class="bg"></div>
        <div id="topbar">
            {% if user.is_authenticated %}
            <div id="username" class="username">{{ user.display_name }}<span class="arrow">▼</span></div>
            <div id="userMenu" class="menu" style="display: none;">
                <ul>
                    <li class="menu_element">
                        <a href="{% url 'voteApp:generate-key' %}">Générer une procuration</a>
                    </li>
                    <li class="menu_element">
                        <a href="{% url 'voteApp:access-with-key' %}">Utiliser une procuration</a>
                    </li>
                    <li class="menu_element">
                        <a href="{% url 'voteApp:key_list' %}">Mes procurations</a>
                    </li>
                    <li class="menu_element">
                        <a href="{% url 'voteApp:aide' %}">Aide</a>
                    </li>
                    <li class="menu_element">
                        <a href="{% url 'voteApp:logout' %}">Se déconnecter</a>
                    </li>
                </ul>
            </div>
            {% endif %}
            <a href="{% url 'voteApp:index' %}">
                <img id="logo" src="{% static 'voteApp/img/android-chrome-512x512.png' %}">
            </a>
            <a href="{% url 'admin:index' %}" id="admin">Admin</a>
        </div>
    <div class="messageList">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.extra_tags == "already_voted" %}
                        <li class="error"> {{ message }} </li>
                    {% elif message.extra_tags == 'not_allowed' %}
                        <li class="error"> {{ message }} </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="details-box">
        <h2 class="details-title">{{ question.question_text }}</h2>
        <p>{{ question.question_desc }}</p>
        {% if question.question_expiration >= now %}
        <p>Publié le {{ question.question_date|date:"d/m/Y" }} à {{ question.question_date|time:"G:i" }}, expire le {{ question.question_expiration|date:"d/m/Y" }} à {{ question.question_expiration|time:"G:i" }}</p>
        {% else %}
        <p>Publié le {{ question.question_date|date:"d/m/Y" }} à {{ question.question_date|time:"G:i" }}, <span class="expired-question">a expiré le {{ question.question_expiration|date:"d/m/Y" }} à {{ question.question_expiration|time:"G:i" }}</span></p>
        {% endif %}
        <div class="choiceBox">
            {% for choice in question.choice_set.all %}
                <div class="oneChoice">
                    <form class="choiceForm" method="post" action="{% url 'voteApp:vote' question.question_id %}">
                        {% csrf_token %}
                            <input type="hidden" name="choice_id" value="{{ choice.id }}">
                            <div class="labelChoice" style="cursor: pointer;" onclick="this.parentNode.submit();">
                                <h3>{{ choice.choice_text }}</h3>
                            </div>
                    </form>
                </div>
            {% endfor %} 
        </div>
        <a id="resultsBtn" href="{% url 'voteApp:question_results' question.id %}">Résultats</a>
    </div>
    <script src="{% static 'voteApp/messageTransition.js' %}"></script>
</body>
</html>
