<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'voteApp/style.css' %}">
    <title>Liste des votes</title>
</head>
<body>
    <div class="bg"></div>
    <div id="topbar">
        <img id="logo" src="{% static 'voteApp/img/android-chrome-512x512.png' %}">
        <div id="toptxt">Assemblée générale du CINUP</div>
    </div>
    <div class="question-list">
        {% for question in questionsList %}
            <div class="oneQuestion">
                <h3>{{ question.question_text }}</h3>
                <p>{{ question.question_desc }}</p>
            </div>
        {% endfor %} 
    </div>
</body>
</html>