<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'voteApp/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'voteApp/img/favicon.ico' %}">
        <script src="{% static 'voteApp/display_menu.js' %}"></script>
        <title>Liste des votes</title>
    </head>
    <body>
        <div class="bg"></div>
        <div id="topbar">
            {% if user.is_authenticated %}
            <div id="username" class="username">{{ user.display_name }}<span class="arrow">▼</span></div>
            <div id="userMenu" class="menu" style="display: none;">
                <ul>
                    <li class="menu_element">
                        <a href="{% url 'voteApp:generate_proxy_keys' %}">Faire une procuration</a>
                    </li>
                    <li class="menu_element">
                        <a href="{% url 'voteApp:use_proxy_key' %}">Utiliser une procuration</a>
                    </li>
                    <li class="menu_element">
                        <a href="{% url 'voteApp:logout' %}">Se déconnecter</a>
                    </li>
                </ul>
            </div>
            {% endif %}
            <a href="{% url 'voteApp:index' %}">
                <img id="logo" src="{% static 'voteApp/img/android-chrome-512x512.png' %}">
            </a>
            <a href="{% url 'admin:index' %}" id="admin">Admin</a>
        </div>
    {% block content %}
    <h2>Use a Proxy Key</h2>
    <p>Enter the proxy key below to vote on someone else's behalf.</p>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="proxy_key" placeholder="Enter Proxy Key">
        <button type="submit">Vote</button>
    </form>
    {% endblock %}
</body>
</html>
