<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'voteApp/style.css' %}">
    <title>Se connecter</title>
</head>
<body>
    <div id="bg">
    </div>
    <div id="topbar">
        <img id="logo" src="{% static 'voteApp/img/android-chrome-512x512.png' %}">
        <div id="toptxt">Assemblée générale du CINUP - Connexion</div>
    </div>
    <form action="{% url 'login' %}" method="post">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password">
        <button type="submit" class="btn">Se connecter</button>
    </form>
</body>
</html>